@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3.5rem;
  /*===== Colors =====*/
  --first-color: #A29596;
  --primary: #A29596;
  --second-color: #33303D;
  --black-color: #111111;
  --white-color: #FFF;
  /*===== Font and typography =====*/
  --body-font: "Lato",
      sans-serif;
  --biggest-font-size: 1.5rem;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;
  /*===== z index =====*/
  --z-fixed: 100;
  --z-modal: 1000;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.25rem;
    --big-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--white-color);
  color: var(--black-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--white-color);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  list-style: none;
}
@media screen and (max-width: 968px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: var(--header-height);
    background-color: var(--white-color);
    width: 80%;
    height: 100%;
    padding: 2rem;
    z-index: var(--z-fixed);
    transition: 200ms ease;
  }
}
.nav-item {
  margin-bottom: 2rem;
  font-weight: var(--font-bold);
}
.nav-link {
  color: var(--black-color);
}
.nav-toggle {
  cursor: pointer;
}

.show {
  left: 0;
}

.home {
  height: 100vh;
  display: grid;
  row-gap: 3.5rem;
  grid-template-rows: repeat(2, max-content);
  overflow: hidden;
}

.sneaker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6rem;
  position: relative;
}
.sneaker-figure {
  width: 240px;
  height: 240px;
  background-color: var(--primary);
  border-radius: 50%;
  transition: 0.5s;
}
.sneaker-img {
  width: 313px;
  position: absolute;
  top: 16%;
  left: 9%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(30deg);
  opacity: 0;
  filter: drop-shadow(0px 10px 10px rgba(17, 17, 17, 0.4));
}
.sneaker-img.show {
  opacity: 1;
}
.sneaker-colors {
  position: absolute;
  right: 2%;
}
.sneaker-color {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.sneaker-color.active {
  border: 2px solid var(--white-color);
  box-shadow: 0 0 2px rgb(0, 0, 0);
}
.sneaker-color-one {
  background-color: var(--first-color);
}
.sneaker-color-tow {
  background-color: var(--black-color);
}

.data {
  margin-bottom: 1.5rem;
}
.data-subtitle {
  font-size: var(--normal-font-size);
}
.data-title {
  font-size: var(--big-font-size);
  margin-bottom: 0.5rem;
}
.data-description {
  font-size: var(--normal-font-size);
}

.actions {
  display: flex;
  justify-content: space-between;
}

.size-title {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}
.size-content {
  display: flex;
}
.size-tallas {
  width: 40px;
  height: 30px;
  line-height: 30px;
  margin-right: 0.5rem;
  font-size: var(--normal-font-size);
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
}
.size-tallas.active {
  background-color: var(--primary);
  color: var(--white-color);
}

.cant-title {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}
.cant-content {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: var(--white-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.prici {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 83px;
  background-color: var(--white-color);
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 0 20px rgba(17, 17, 17, 0.25);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.prici-title {
  font-size: var(--big-font-size);
  color: var(--black-color);
}
.prici-button {
  background-color: var(--primary);
  color: var(--white-color);
  padding: 1.25rem 1.135rem;
  border-radius: 0.4rem;
}/*# sourceMappingURL=main.css.map */